body {
  font-family: sans-serif;
  margin: auto;
  width: 1120px;
  border: 1px solid red;
}
.textContent {
  border: 0px;
  direction: ltr;
  font: 24px arial;
  padding: 0px;
  color: rgb(63, 63, 63);
  margin: 0px;
  display: block;
  box-sizing: border-box;
}

#render-page-numbers {
  overflow-x: scroll;
  width: 100%;
  height: 75px;
}

#paragraph {
  border: 0px;
  direction: ltr;
  line-height: 1.4;
  padding: 20px 0.9375em 40px;
  font-size: 100%;
  margin: 0px;
  position: relative;
  width: 66.6667%;
  display: block;
  box-sizing: border-box;
}
#formComponent {
  border: 0px;
  direction: ltr;
  line-height: 1.4;
  padding: 0px 0px 0px 0.9375em;
  font-size: 100%;
  margin: 0px;
  position: relative;
  width: 33.3333%;
  display: block;
  box-sizing: border-box;
  float: right;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.container-header {
  background: #0d1313;
  padding: 10px;
  color: white;
  width: 20%;
  margin: 10px;
}

.intro-container {
  display: flex;
  flex-direction: row;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type="text"],
select,
textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.formPara {
  direction: ltr;
  font: 12px/1.6 arial;
  padding: 0px;
  border: 0px;
  text-align: center;
  color: rgb(72, 72, 72);
  margin: 0px 0px 1.25em;
  display: block;
  box-sizing: border-box;
  text-rendering: optimizelegibility;
}
.formHeader {
  direction: ltr;
  font: bold 24px "PT Sans";
  padding: 0px;
  border: 0px;
  text-align: center;
  color: rgb(66, 66, 66);
  margin: 0.67em 0px;
  display: block;
  box-sizing: border-box;
  text-rendering: optimizelegibility;
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

aside {
  border: 0px;
  padding: 0px;
  display: block;
  margin: 0px;
  font-size: 100%;
  line-height: 1.4;
  box-sizing: border-box;
}
p {
  border: 0px;
  font-weight: normal;
  direction: ltr;
  line-height: 1.6;
  padding: 0px;
  font-size: 14px;
  margin: 0px 0px 1.25em;
  box-sizing: border-box;
  display: block;
  text-rendering: optimizelegibility;
  font-family: inherit;
}
#paragraphArticle {
  border: 0px;
  padding: 0px;
  margin: 0px;
  display: block;
  font-size: 100%;
  line-height: 1.4;
  box-sizing: border-box;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 5px;
  flex: 1 0;
  max-width: 30%;
}
.LoaderPosition {
  margin: auto;
  width: 30%;
}
#page-numbers {
  margin-top: 10px;
}
#page-numbers > span {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
  padding: 8px 16px;
}

.active {
  background-color: dodgerblue;
  color: white;
}
.ImageflexContainer {
  display: flex;
  flex-wrap: wrap;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  display: table-cell;
}

.dot {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: table-cell;
  text-align: center;
  padding: 5px;
  vertical-align: middle;
}

.parentContent {
  border: 0px;
  direction: ltr;
  line-height: 1.4;
  padding: 0px 0.9375em;
  font-size: 100%;
  margin: 0px;
  position: relative;
  width: 50%;
  display: block;
  box-sizing: border-box;
  float: right;
}
.bannerContainer {
  display: flex;
}
@media (max-width: 600px) {
  .site-header {
    flex-wrap: wrap;
  }
  .site-nav {
    order: 2;
    background: #333;
    width: 100%;
  }
}
.site-header {
  background: #0d1313;
  color: white;
  display: flex;
  align-items: center;
}
.logo {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px;
}
.site-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.site-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #cdd0d0;
  padding: 20px;
  display: inline-block;
}
.active a {
  font-weight: bold;
  color: #62debe;
  background: darken(#62debe, 40%);
}

.dropdown ul {
  display: none;
}
.dropdown:hover ul {
  list-style: none;
  display: block;
}
.dropdown:hover ul li a {
  text-decoration: none;
  padding: 20px;
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.sign-out-link {
  color: #62debe;
  font-size: 0.8rem;
  margin-left: 10px;
  text-transform: uppercase;
}

/*Card styles*/
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Float four columns side by side */
.column {
  width: 100%;
  padding: 0 10px;
}
/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  /* .ImageflexContainer {
    flex-direction: column;
    flex-wrap: wrap;
   
  } */
  .card {
    flex-wrap: wrap;
    flex: 0 0;
    max-width: 20%;
  }
}
/* Style the counter cards */
.titlecard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  max-width: 50%;
}
